hr {
  color: silver;
  border: 1px solid silver;
}

.col {
  box-sizing: border-box;
  margin-bottom: 5px;
}

a {
  color: blue;
}

a:link,
a:visited {
  text-decoration: none;
  color: blue;
}

/* footer css */
footer {
  background-color: white;
}

footer img {
  margin: auto 8px;
  fill: white;
}
footer p {
  line-height: 2rem;
  color: #aaa;
}
